.filter-sort-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  width: 100%;
}

.filter-section,
.sort-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* TITLURI */
.filter-section .section-title,
.sort-section .section-title {
  font-size: 23px;
  font-weight: 1000;
  color: #c2c2c2; /* gri subtil pentru titlu */
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* SLIDER */
.MuiSlider-root {
  color: #23695c; /* accent dark green */
  height: 3px;
}

.MuiSlider-thumb {
  width: 18px;
  height: 18px;
}

/* RADIO BUTTONS */
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 2em;
  background-color: #ffffff;
}

.radio-option-value{
  font-size: 20px;
}

.radio-label {
  font-size: 20px;
  color: #696969; /* gri mai inchis */
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
