.login-register-component{
    height:auto;
    width: 25%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* top right bottom left */
    padding: 0px 30px 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
}

.login-component-title{
    padding: 0;
    margin-bottom: 0;
    margin-top: 0.2em;
}