html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.center-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-left-flex {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-row {
  flex-direction: row
}

.flex-column {
  flex-direction: column;
}

.center-right-flex {
  display: flex;
  align-items: center;
  justify-content: right;
}

.small-text {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.color-red {
  color: red;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.7em;
}

button {
    background-color: #a8e6cf;     
    color: #2a2a2a;                 
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    margin:10px;
}

button:hover {
    background-color: #89d4b8;      
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0px);
}